/*

Colors

#C08189#CCA2A2RGBA(0, 0, 0, 0.3)

Logo

Logo 1 ￼Logo 2 ￼

Font Family

Poppins 

Font Sizes

- SmallText: 12px - MediumText: 14px - LargeText: 24px



*/

::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: white;
}

body {
	 background-color: white;
	 margin: 0;
	-webkit-user-select: none;
	font-family: calibri;
 }

button {
	outline: none;
}
 
 input {
	outline: none;
}

 textarea {
	outline: none;
}

 select {
	outline: none;
}

a {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:image-link:focus {
	outline: 0;
}

.hidden {
	display: none;
}

#main {
	margin-top: 115px;
	 background-color: white;
}
 /*
 header {
	width: 100%;
	height: 8vh;
	position: fixed;
	top: 0;
	left: 0;
	box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.8);
	display: block;
	transition: height 0.3s;
	z-index: 8;
	background-color: #DE5D82;
	background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%), linear-gradient(-45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgba(0, 0, 0, 0.1) 75%), linear-gradient(-45deg, transparent 75%, rgba(0, 0, 0, 0.1) 75%);
	background-size:20px 20px;
	background-position: 0 0, 0 10px, 10px -10px, -10px 0px;	
}

header #appText {
	margin: 0;
	line-height: 8vh;
	font-size: 38px;
	font-weight: 700;
	color: white;
	margin-left: 3vw;
	display: inline-block;
}

header [hasSubtext] {
	transform: translateY(-15px);
}

header #subText {
	margin: 0;
	line-height: 2vw;
	font-size: 25px;
	font-weight: 400;
	color: rgba(255, 255, 255, 0.8);
	fill: white;
	margin-left: 3vw;
	display: block;
	margin-left: 32px;
	transform: translateY(-180%);
}
 
header #subText svg {
	fill: white;
	display: inline;
}

header #sltChapter {
	//display: none;
	transform: translateX(-100px);
	width: 100px;
	opacity: 0;
}

header #iconHolder {
	height: 90px;
	line-height: 70px;
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
}
 
header #iconHolder .icon {
	margin: 0 7px;
}
 
header #iconHolder .icon svg {
	height: 50px;
	width: 50px;
	transform: translateY(35px);
	fill: white;
	transition: 0.3s background-color;
}
 
header #iconHolder .icon:active {
	background-color: rgba(0, 0, 0, 0.15);
}

header #menuIcon svg {
	height: 60px;
	width: 60px;
	transform: translateY(15px);
	fill: white;
	margin-left: 5mm;
}

header #menuIcon:active {
	background-color: rgba(0, 0, 0, 0.15);
}

header #backIcon svg {
	height: 60px;
	width: 60px;
	transform: translateY(15px);
	fill: white;
	margin-left: 5mm;
}
*/
header #menuHolder {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;
}

header #menuHolder #optionHolder {
	background-color: rgba(255, 255, 255, 1);
	color: black;
	position: fixed;
	top: 10px;
	right: 10px;
	min-width: 450px;
	max-width: 550px;
	padding: 3mm 0;
	border-radius: 7px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8);
	z-index: 9;
}

#menuBackground {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 7;
	top: 0;
	left: 0;
	display: none;
}
 
header #menuHolder .option {
	font-size: 33px;
	padding: 0 3mm;
	height: 90px;
	line-height: 90px;
	display: block;
	overflow: hidden;
	transition: 0.3s background-color;
	position: relative;
	z-index: 9;
	color: black;
}
 
header #menuHolder .option:active {
	background-color: rgba(0, 0, 0, 0.15);
}


/* Bottom Nav */

#bottomNav {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 130px;
	width: 100%;
	overflow: hidden;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
	background-color: #FF6EC7;
	border-radius: 50px 50px 0 0;
	text-align: center;
}

#bottomNav .item {
	width: 18%;
	display: inline-block;
	text-align: center;
	height: 200%;
	border-radius: 100%;
	transform: translateY(-23%);
	transition: background-color 0.2s;
//	background-color: rgba(255, 255, 255, 0.2);
}

#bottomNav .item:active {
	background-color: rgba(255, 255, 255, 0.2);
}

#bottomNav .item svg {
	width: 60px;
	height: 60px;
	margin-top: 53%;
	fill: white;
}

#bottomNav #homeIcon {
	width: 90px;
	height: 90px;
	position: fixed;
	bottom: -60px;
	left: 50%;
	transform: translateY(-100px) translateX(-50%);
	background-color: white;
	border-radius: 50%;
	box-shadow: 0 13px 10px rgba(0, 0, 0, 0.3);
	margin: 0;
	padding: 30px;
	transition: background-color 0.2s;
}

#bottomNav #homeIcon svg {
	width: 90px;
	height: 90px;
	fill: #FF6EC7;
	margin: 0;
	padding: 0;
}

#bottomNav #homeIcon:active {
	background-color: rgba(255, 195, 255, 1);
}

#bottomNav .item #hint {
	color: white;
	font-size: 20px;
	line-height: 45px;
	display: none;
}
/*
#bottomNav [active] {
	background-color: rgba(0, 0, 0, 0);
}

#bottomNav [active] svg {
	width: 48px;
	height: 48px;
	//margin-top: %;
	fill: orange;
}

#bottomNav [active] #hint {
	color: orange;
	font-size: 22px;
	font-weight: 700;
}
*/
/* Loader */

.loader {
	width: 40px;
	height: 40px;
	border: 5px solid rgba(255, 255, 255, 0.1);
	border-top: 5px solid white;
	border-radius: 50%;
	display: inline-block;
	-webkit-animation: spin 0.5s linear infinite;
}

/* Snack */

.snack {
	background-color: rgba(0, 0, 0, 1);
	width: 90%;
	font-size: 28px;
	color: white;
	position: fixed;
	bottom: -120px;
	left: 3%;
	padding: 40px 2%;
	box-shadow: 0 5px 10px 0 indigo;
}

/* Forn */

.form {
	width: 94%;
	text-align: center;
	margin: 100px 0 0 3%;
	box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
	padding: 90px 0;
	border-radius: 50px;
}

.form .label {
	font-size: 40px;
	font-weight: 700;
	display: block;
	width: 100%;
	text-align: center;
	margin: 0 0 0 0;
	color: black;
}

.form .input {
	width: 70%;
	background-color: rgba(0, 0, 0, 0.2);
	height: 70px;
	margin: 70px 0;
	font-size: 36px;
	color: white;
	padding: 0 40px;
	border: 0px solid;
	border-radius: 20px;
}

.form .textarea {
	width: 80%;
	background-image: linear-gradient(to right, #DE5D82, #DE5D99);
	height: 200px;
	margin: 13px 0;
	font-size: 36px;
	color: white;
	text-indent: 8px;
	border: 0px solid;
	border-radius: 10px;
}

.form .select {
	width: 80%;
	background-image: linear-gradient(to right, #DE5D82, #DE5D99);
	height: 100px;
	margin: 20px 0;
	font-size: 36px;
	color: white;
	text-indent: 8px;
	border: 0px solid;
	border-radius: 10px;
}

.form #buttonHolder {
	width: 70%;
	display: inline-block;
	transform: translateX(40px);
	text-align: right;
}

.form #buttonHolder button {
	width: 230px;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.2);
	height: 70px;
	margin: 40px 0 0 20px;
	font-size: 45px;
	color: white;
	text-align: center;
	border: 0px solid;
	border-radius: 20px;
	transition: 0.1s background-color;
}

.form #buttonHolder #submitButton {
	font-weight: 550;
	background-color: #FF6EC7;
}

.form #buttonHolder #normalButton {
	font-weight: 500;
	color: black;
}

.form #buttonHolder #submitButton:active {
	background-color: rgba(0, 0, 0, 0.4);
}

.form .longButton {
	width: 73%;
	display: inline-block;
	height: 70px;
	margin: 0 0 0 20px;
	font-size: 45px;
	color: white;
	text-align: center;
	border: 0px solid;
	border-radius: 20px;
	transition: 0.1s background-color;
	font-weight: 550;
	background-color: #FF6EC7;
}

.form .longButton:active {
	background-color: rgba(0, 0, 0, 0.4);
}

/* Animation */

@-webkit-keyframes spin {
	
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
	
}