#paymentForm {
	font-family: Arial, sans-serif;
}

#paymentForm input {
	font-family: Arial, sans-serif;
}

#paymentForm2 {
	font-family: times;
}

#paymentForm2 input {
	font-family: times;
}

#paymentForm2 button {
	font-family: times;
}